@using App.Web.Context
@model App.Entity.Models.ClientInfo
@{
    var db = new CrmDbContext();
    ViewBag.AgentList = new SelectList(db.AgentInfos, "Id", "AgentName");

}
<div class="form-group row">
    @Html.LabelFor(model => model.AgentId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
    <div class="col-sm-4">
        @Html.DropDownListFor(model => model.AgentId, (SelectList)ViewBag.AgentList, "Select One", new { @class = "form-control select2" })
        @Html.ValidationMessageFor(model => model.AgentId, "", new { @class = "text-danger" })
    </div>
</div>
