@using App.Web.Context
@model App.Entity.Models.ClientInfo
@{
    var db = new CrmDbContext();
    ViewBag.CountryList = new SelectList(db.CountryLists, "CountryId", "CountryName");

}
<div class="form-group row">
    @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
    <div class="col-sm-4">
        @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.CountryList, "Select One", new { @class = "form-control select2" })
        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
    </div>
</div>

