@{
    ViewBag.Title = "Dashboard";
}

<div class="card">
    <h6 class="card-header">DASHBOARD MENU</h6>
    <div class="card-block">
        <div class="row row-md">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box box-block bg-white tile tile-1 m-b-2">
                    <div class="t-icon right">
                        <span class="bg-purple"></span><i class="fa fa-plus"></i>
                    </div>
                    <div class="t-content">
                        <h6 class="text-uppercase m-b-1">Today Deposits</h6>
                        <h1 class="m-b-1">TK 1,325</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box box-block bg-white tile tile-1 m-b-2">
                    <div class="t-icon right">
                        <span class="bg-info"></span><i class="fa fa-minus"></i>
                    </div>
                    <div class="t-content">
                        <h6 class="text-uppercase m-b-1">Today Expenses</h6>
                        <h1 class="m-b-1">TK 1,325</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box box-block bg-white tile tile-1 m-b-2">
                    <div class="t-icon right">
                        <span class="bg-success"></span><i class="fa fa-plus"></i>
                    </div>
                    <div class="t-content">
                        <h6 class="text-uppercase m-b-1">This Months Deposits</h6>
                        <h1 class="m-b-1">TK 1,325</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box box-block bg-white tile tile-1 m-b-2">
                    <div class="t-icon right">
                        <span class="bg-warning"></span><i class="fa fa-minus"></i>
                    </div>
                    <div class="t-content">
                        <h6 class="text-uppercase m-b-1">This Months Expenses</h6>
                        <h1 class="m-b-1">TK 1,325</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-md">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Add Client</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Add Agent</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Flight Progresses</a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Client Payment</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Agent Payment</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Payment To Supplier</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Expenses</a>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Transactions</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
                <a class="btn btn-info btn-lg btn-block" href="#">Balance Sheet</a>
            </div>
        </div>
    </div>
</div>
