@{
    ViewBag.Title = "Supplier Info Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var options = new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure"
    };
}
@section AdditionalStyles
{
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
}
<div class="card">
    <h6 class="card-header bg-primary">REPORTS / SUPPLIERS INFO</h6>
    <div class="card-block">
        @using (Ajax.BeginForm("SupplierInfoReport", "Reports", null, options, new { @class = "form-horizontal", @id = "supplierInfoReportForm" }))
        {
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 form-group">
                                @Html.Label("SupplierId", "Suppliers", htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                                <div class="col-sm-8">
                                    @Html.DropDownList("SupplierId", (SelectList)ViewBag.Suppliers, "Select One", new { @class = "form-control select2" })
                                    @Html.ValidationMessage("SupplierId", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="offset-sm-4 col-sm-8">
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-eye"></i> Show Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        @* Need to modify after that portion *@
        <button class="btn btn-warning pull-right new-line" id="print"><i class="fa fa-print"></i> Print</button>
        <div id="supplierReportInfo">
            <br />
            <br />
            <div class="row text-center">
                <img src="~/Content/template/img/site/site-logo.png" alt="Logo" width="80" height="80" /><br /><br />
                <h3 class="text-underline">Code For Host Inc | Travel</h3>
                <strong><i>Agent Info Report</i></strong>
            </div>
            <table class="table table-bordered table-striped" id="supplierInfoReportTable">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                        <th>Supplier Email</th>
                        <th>Supplier Phone</th>
                        <th>Supplier Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center text-danger">NO DATA FOUND</td>
                    </tr>
                </tbody>
            </table>
            <br /><br /><br />
            <div class="row text-right">
                <p class="no-margin-bottom">.............................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="no-margin-bottom">Administrator Siganature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/Scripts/print.js"></script>
    <script>
        $(function () {
            $("#supplierReportInfo").hide();
            $("#print").hide();
            $("#print").click(function () {
                PrintDocumentDivById("supplierReportInfo");
            });
        });

        function OnBegin() {}

        function OnComplete() {}

        function OnSuccess(resp) {
            var supplierReportInfo = $("#supplierReportInfo");
            var tbody = $("#supplierInfoReportTable tbody");
            if (resp.Flag) {
                tbody.empty();
                $.each(resp.SuppliersReports, function (index, value) {
                    tbody.append(
                        '<tr>' +
                            '<td>' + (index+1) + '</td>' +
                            '<td>' + value.SupplierId + '</td>' +
                            '<td>' + value.SupplierName + '</td>' +
                            '<td>' + value.SupplierEmail + '</td>' +
                            '<td>' + value.SupplierPhone + '</td>' +
                            '<td>' + value.SupplierMobileNo + '</td>' +
                        '</tr>'
                    );
                });

                if (resp.SuppliersReports.length === 0) {
                    tbody.append(
                        '<tr>' +
                            '<td colspan="6" class="text-center text-danger">NO DATA FOUND</td>' +
                        '</tr>'
                    );
                }
                supplierReportInfo.show().slideDown(500);;
                $("#print").show();
            }
            else {
                toastr.error(resp.Msg, 'Error!');
                tbody.empty();
                supplierReportInfo.hide().slideDown(500);;
                $("#print").hide();
            }
        }

        function OnFailure() {}

    </script>
}

