
@{
    Layout = "~/Views/Shared/_CustomErrorLayout.cshtml";
    ViewBag.ErrorName = "Not Found";
    ViewBag.ErrorBackground = "bg-warning";
}

<div class="error-message text-xs-center">
    <h1 class="m-b-3">404<span><i class="ti-search"></i></span></h1>
    <h5 class="text-uppercase">Not Found!</h5>
    <div class="error-message-text m-b-3">The resource or content are you looking for either removed or not found.</div>
    <a class="btn btn-outline-white w-min-md" href="/">Go to home page</a>
</div>

