@{
    Layout = "~/Views/Shared/_CustomErrorLayout.cshtml";
    ViewBag.ErrorName = "Unauthorized";
    ViewBag.ErrorBackground = "bg-danger";
    
}

<div class="error-message text-xs-center">
    <h1 class="m-b-3">401<span><i class="ti-shift-right"></i></span></h1>
    <h5 class="text-uppercase">Access Denied!</h5>
    <div class="error-message-text m-b-3">You are allowed to access the resource/content.</div>
    <a class="btn btn-outline-white w-min-md" href="/">Go to home page</a>
</div>