/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #savePaymentBtn {
        margin-top: 27px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #savePaymentBtn {
        margin-top: 27px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #savePaymentBtn {
        margin-top: 27px;
    }
}

.new-line {
    display: block;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}
.no-margin-bottom {
    margin-bottom: 0;
}
